body{
  padding: 0 0 0 0 !important;
  margin: 0;
}
.one
{
  color:white;
  width: 100%;
  height:100vh;
  background-image: url('loo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.item:hover{
  text-decoration: none;

  box-shadow: 5px 15px 40px black;
  z-index:1000;
  margin-top: 6%;
  font-size: 16px;
}
.navbar{
  box-shadow: 0px 5px 55px black;
  font-family: 'Modern Antiqua', cursive;
}
.item{
  margin-top: 7%;
  transition: all 0.3s;
  box-shadow: 10px 5px 15px black;
  color:black;
  width: 20%;
  margin-right: 2%;
  clear: both!important;
  float: none!important;
  background: #fffeec;
}
.a{
  background: black;
  color: white;
  border-bottom-left-radius: 3px!important;
  border-bottom-right-radius: 3px!important;
  border: 1px solid darkgrey;
  border-top: none;
}
.row{
  text-align: center!important;
  margin-left: 7%;
}
#first{
  width: 100%!important;
}
#skills{
  background: rgba(0, 0, 0, 0);
}
.aa{
  background: black;
  color: white;
  box-shadow: 0px 20px 55px -10px black;
}
.lol{

  padding-top: 10%;
}
.ss{
  font-size: 38px;

}
.item .card-body{
  font-size: 52px;
}
.know{
  position: relative;
  background: none;
  margin-top: -0.5%;
}
.ht{
    font-family: 'Modern Antiqua', cursive;
}
.two{
  padding-top: 8%;

  color:black;
  width: 100%;
  height:70vh;
 
  
}
.data{
  width: 90%;
  margin-top: 3%;
}
.bri{
  margin-top: 5%;
  text-align: justify;
  margin-right: 3%;
  width: 60%;
  display: inline-block;
  clear: both;
}
.my{
  margin-top: 1%;
  float: right;
  width: 200px;
  height: 200px;
  padding: 1.5%;
  box-shadow: 5px 5px 15px grey;
}
.ll{
    font-family: 'Modern Antiqua', cursive;
    color: white;

}
small.lead{
  border-top: 1px solid darkgrey;
  display: none;
}
#three{
  overflow:hidden;
}
@media only screen and (max-width: 720px) {
    .item{
      display: block;
      width: auto;
    }
    .lol{
      font-size: 22px;
      padding: 0;
    }
    .one{
      padding-top: 20%;
      overflow: scroll;
    }
    .data{
      text-align: center;
      width: 100%;
    }
    .my{
      float: none;
      margin: auto;
    }
  .two{
    height:auto;
    padding-top:15% !important;
  }
  #map{
  margin:auto!important;
    width:100% !important;
  }
  #three{margin-top:50px;
   
  padding-left:0px !important;
  padding-right:0px !important;
    width:100vh;
  }
  #three div{
  padding-left:0px !important;
  padding-right:0px !important;
  }
}
